<div class="cover"></div>
<div class="container">
  <div class="thumbtail"></div>
  <div class="context-container">
    <div class="title">
      GO GO POWER RANGER
    </div>
    <div class="item">
      <div class="content">Allen gurator</div>
    </div>
    <div class="item">
      <div class="content">Fusce / Vehicula / Dolor</div>
    </div>

    <div class="item">
      <div class="content">Ready upcoming</div>
    </div>
    <div class="item">
      <div class="content">★ ★ ★ ★ ☆ (252 Reviews)</div>
    </div>
    <div class="item ">
      <div class="content"> If your banker breaks, you snap; if your apothecary by mistake sends you poison in your pills, you die. Therefore,
        I say, I saw that this situation of mine was the precise situation of every mortal that has this Siamese connexion
        with a plurality of other mortals. </div>
    </div>
  </div>
</div>

<div class="chapters">
  <div class="title">All Chapters</div>
  <div class="container">
    <div class="item" [routerLink]="['/read',15]">Chapter 1: The F2E Challenge Start!</div>
    <div class="item">Chapter 2: Todo List is Going Crazy!</div>
  </div>
</div>