<div class="container">
  <div class="thumbtail"></div>
  <div class="context-container">
    <div class="title">
      GO GO POWER RANGER
    </div>
    <div class="item">
      <div class="label">genres</div>
      <div class="content">Fusce/vehicula/dolor</div>
    </div>
    <div class="item">
      <div class="label">Author</div>
      <div class="content">Allen gurator</div>
    </div>
    <div class="item">
      <div class="label">genres</div>
      <div class="content">Fusce/vehicula/dolor</div>
    </div>
    <div class="item">
      <div class="label">status</div>
      <div class="content">ready upcoming</div>
    </div>
    <div class="item">
      <div class="label">rating</div>
      <div class="content"> * * * o o</div>
    </div>
    <div class="item summary">
      <div class="label">Summary</div>
      <div class="content"> If your banker breaks, you snap; if your apothecary by mistake sends you poison in your pills, you die. Therefore,
        I say, I saw that this situation of mine was the precise situation of every mortal that has this Siamese connexion
        with a plurality of other mortals. </div>
    </div>
  </div>
</div>

<div class="chapters">
  <div class="title">All Chapters</div>
  <div class="container">
    <div class="item">Chapter 1: The F2E Challenge Start!</div>
    <div class="item">Chapter 2: Todo List is Going Crazy!</div>
  </div>
</div>