.container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 1em 2em;
  display: flex;
  .thumbtail {
    width: 400px;
    height: 600px;
    background-image: url("https://i.imgur.com/5i10l1R.jpg");
    background-position: center;
    background-size: cover;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  .context-container {
    flex: 1;
    .title {
      font-weight: bold;
      padding: .5em;
      font-size: 1.8em;
      color: white;
      background: #0A132D;
      width: 100%;
    }
    .item {
      padding: 1em;
      display: flex;
      .label {
        font-weight: bold;
        text-transform: capitalize;
      }
      .content {
        padding-left: 1em;
      }
    }
    .summary {
      flex-direction: column;
      .content {
        padding-left: 0px;
        margin-top: 1em;
        text-align: justify;
      }
    }
  }
}

.chapters {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 1em 2em;
  display: flex;
  display: flex;
  flex-direction: column;
  .title {
    font-weight: bold;
    background: black;
    padding: 4px 1em;
    color: white;
    font-size: 1.5em;
    text-transform: capitalize;
    width: fit-content;
  }
  .container {
    padding: 1em;
    border: 2px solid black;
    display: block;
    .item {
      margin-bottom: 15px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}